.input{
    width:250px;
    height: 180px;
    border: 2px solid black;
    margin: auto;
    border-radius:30px;
    padding:10px;
    background-color: deeppink;
}
h1{
    margin-top: 150px;
}
h2{
    margin-top: -10px;
}
body{
    background-color: aqua;
}