body{
    background-image: url(back.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
.a{
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
img{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border:3px solid black;
}
h1{
    color:white;
}
